body {
    .modal-open {
        overflow: hidden;
    }
}

.modal-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow-x: hidden;
    overflow-y: auto;
    margin: 1.75rem 0;
    opacity: 0;
    visibility: hidden;

    .mark {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(0, 0, 0, 0.5);
    }

    .modal-content {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 500px;
        background: #fff;
        border-radius: 5px;

        .modal {
            &-header {
                position: relative;
                padding: 15px 20px 10px 20px;
                border-bottom: 1px solid #ccc;

                .close-modal {
                    position: absolute;
                    right: 0;
                    top: 0;
                    bottom: 0;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding: 10px;
                    cursor: pointer;
                }
            }

            &-body {
                padding: 10px 20px;
                border-bottom: 1px solid #ccc;
            }

            &-footer {
                text-align: right;
                padding: 15px 20px 10px 20px;
            }
        }
    }

    &._show {
        opacity: 1;
        visibility: visible;
        z-index: 10000;
    }
}
